/*
    Theme Name:   D & H
    Template:     enfold
*/

/* fix bug Enfold template */

body .column-top-margin {
	margin-top: 0;
}

#header #header_main_alternate .container {
    max-width: 1040px;
    width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.avia-post-nav.avia-post-prev,
.avia-post-nav.avia-post-next {
    display: none !important;
}

div.stretchy-wrapper{ 
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
    background: blue;
    overflow: hidden;
}

div.stretchy-wrapper > div {
    position: absolute;
    top: -16.75%; bottom: 0; left: 0; right: 0;
}

#progress-bar {
    top: 0;
    z-index: 999;
}

#top .av-control-minimal .avia-slideshow-dots a {
    border: 2px solid #fff;
    background: transparent;
    padding: 5px;
    opacity: 1;
    background: #fff;
    margin-right: 10px;
}

#top .av-control-minimal .avia-slideshow-dots a.active {
    background: #00a8ff;
    border-color: #00a8ff;
}

.avia-slideshow-arrows.avia-slideshow-controls {
    display: none;
}

#top #menu-item-search {
    position: absolute;
    right: 10px;
    top: 15px;
    height: 22px;
}

.small-logo-menu-item {
    position: absolute !important;
    left: 0;
    top: 16px;
    display: none;
}

.small-logo-menu-item:hover {
    position: absolute !important;
}

#top #menu-item-search > a {
    height: 22px;
    line-height: 22px;
}

#top #menu-item-search > a:before {
    background: url('images/search.svg') no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    content: ' ';
    background-size: 100%;
}

#top #menu-item-email {
    position: absolute;
    right: -245px;
    top: 15px;
    height: 22px;
}

#top #menu-item-email > a {
    height: 22px;
    line-height: 22px;
}

#top #menu-item-email > a:before {
    background: url('images/email.png') no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    content: ' ';
    background-size: 100%;
}

#header_main .logo {
    padding-top: 80px;
    width: 50%;
}

#header_main .logo img {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

#header .avia_mega_div {
  width: 400px !important;
}

#header .avia_mega_div .mega_menu_title {
    color: #00aaff;
}

#header .avia_mega_div .mega_menu_title > a {
    text-decoration: none !important;
    font-size: 15px !important;
}

#header .avia_mega_div {
    border: 1px solid #b4e5ff;
    border-top: 0;
}

#header .display-posts-listing {
    border: 0 !important;
    margin-top: 15px !important;
}

#header .display-posts-listing .listing-item {
    margin-left: 0 !important;
}

#header .display-posts-listing .listing-item a.title {
    text-decoration: none !important;
    font-weight: bold !important;
    font-size: 10px !important;
    opacity: 1 !important;
    color: #878787 !important;
    display: block !important;
}

#header .display-posts-listing .listing-item a:hover {
    background: #fff !important;
}

#header .display-posts-listing .listing-item  a img {
    width: 158px;
}

.avia-slide-slider {
    margin-bottom: 0;
}

.yikes-mailchimp-submit-button-span-text
{
    display: none !important;
}

.content, .sidebar {
	padding-top: 10px;
}

.section-header {
	border-top: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	padding: 12px 0 !important;
    margin-bottom: 15px;
    margin-top: 15px !important;
}

.section-header .av-special-heading-tag {
	font-size: 21px;
	font-weight: bold;
	color: #010101;
}

.main_color h2 {
    line-height: 35px;
}

#top #header .av-main-nav > li > a .avia-menu-text, #top #header .av-main-nav > li > a .avia-menu-subtext {
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

#top #wrap_all .av-inherit-size .av-special-heading-tag {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.promotion-banner-container.av_one_fourth {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}

.promotion-banner-container.stick {
    position: fixed;
    top: 62px;
}

.sidebar-newsletter-container.stick {
    position: fixed;
}

.promotion-banner-container img {
    width: 300px;
}

.promotion-banner-container.stick .avia-image-container.avia-align-center {
    text-align: left;
}

.inner_sidebar {
    margin-left: 20px;
}

.big-preview.single-big {
    padding-right: 0;
}

.ajax-load-more-wrap.blue .alm-load-more-btn {
    background-color: #00a8ff !important;
    border-radius: 0;
    width: 184px;
    height: 47px;
    margin-left: 88px;
    text-transform: uppercase;
    border-radius: 40px;
}

.template-blog .ajax-load-more-wrap.blue .alm-load-more-btn {
    margin-left: 0;
}
.ajax-load-more-wrap.blue .video-posts .alm-load-more-btn {
    margin-left: 0;
}
.alm-btn-wrap .alm-load-more-btn.loading:before {
	top: 2px !important;
}

.home-latest-news .post-container a {
	text-decoration: none;
	cursor: pointer;
}

.home-latest-news .post-container {
	overflow: auto;
	margin-bottom: 25px;
}
.home-latest-news .post-thumb {
	float: left;
	margin-right: 35px;
    max-width: 68%;
}
.home-latest-news .post-thumb img {
	display: block;
}
.home-latest-news .post-content {
    margin-left: 68%;
}
.home-latest-news .post-title {
    font-size: 20px;
    text-transform: none !important;
    margin-bottom: 0;
    color: #00aaff !important;
}
.publish-date {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #919191;
}

.home-latest-news .post-desc {
	font-size: 13px !important;
    color: #878787;
    line-height: 18px;
}

.home-latest-news .post-desc:after {
    content: ' ';
    width: 57px;
    height: 5px;
    background: #00a8ff;
    display: block;
    margin-left: 35px;
}

.sidebar-newsletter-container .yikes-easy-mc-success-message,
.newsletter-footer-widget .yikes-easy-mc-success-message {
    color: #ffffff;
    background: #04a8ff;
    padding: 12px;
    position: relative;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 68px;
}

.sidebar-newsletter-container .yikes-easy-mc-success-message {
    margin-top: 5px;
}

.sidebar-newsletter-container .yikes-easy-mc-error-message,
.newsletter-footer-widget  .yikes-easy-mc-error-message {
    max-width: 500px;
    margin: 0 auto;
}

.template-page.content {
	padding-top: 0;
	padding-bottom: 0;
} 

.template-search {
    padding-top: 40px;
}

#top #searchform>div {
    max-width: 500px;
}

.promotion-banner-container.widget {
    padding-top: 0 !important;
}

.with-love-menu-icon {
    position: relative;
}

.with-love-menu-icon::after {
    content: ' ';
    background: url(images/icon_guitrao-01.svg) no-repeat;
    width: 20px;
    height: 24px;
    background-size: 100%;
    display: block;
    bottom: 15px;
    right: -8px;
    position: absolute;
}

.must-read-news {
	margin-top: 0;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.must-read-news:before {
    content: ' ';
    width: 100%;
    height: 202px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(./images/bg_main2.gif) 0 0 repeat;
}

.alm-btn-wrap .alm-load-more-btn.loading:before {
    background: transparent url(./images/Spinner.svg) no-repeat center center !important;
}


.sidebar-newsletter-container .footer-newsletter .yikes-easy-mc-submit-button.sign-up-btn {
    right: 32px;
}

.sidebar-newsletter-container .footer-newsletter {
    margin-top: 0;
    padding: 0 20px;
}

.sidebar-newsletter-container:before {
    content: ' ';
    width: 100%;
    height: 150px;
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
   
   background: url(./images/bg_main2.gif) 0 0 repeat;
   visibility: visible;
}


.sidebar-newsletter-container.overlapse-hide {
    visibility: hidden;
    opacity:0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

.sidebar-newsletter-container.overlapse-hide:before {
    visibility: hidden;
    opacity:0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}


.promotion-banner-container.overlapse-hide {
    visibility: hidden;
    opacity:0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

.promotion-banner-container.overlapse-hide:before {
    visibility: hidden;
    opacity:0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

.avia-msie .must-read-news:before {
    background: url(./images/bg_main2.gif) 0 0 repeat;
}

.must-read-news div .av_one_third {
    margin-left: 2%;
    width: 31.999999%;
}

.must-read-news div .av_one_third.first {
    margin-left: 0;
}

.must-read-news .entry-content-header {
	margin-top: 15px;
}

.must-read-news .slide-entry-title.entry-title a {
	font-family: 'Roboto';
	color: #474748 !important;
	text-transform: initial;
    font-size: 15px;
    font-weight: 600 !important;
    letter-spacing: 1px;
    line-height: 18px;
}

.mc4wp-form-success .mc4wp-form-fields {
    display: none;
}

.mc4wp-form-success .mc4wp-response {
    margin-top: 5%;
}

.mc4wp-response {
	text-align: center;
}

.avia-content-slider .slide-image, .avia-content-slider .slide-image img {
	border-radius: 0 !important;
}

.newsletter-footer-widget {
	height: 272px;
	background: url(./images/bg_main2.gif) 0 0 repeat;
}

.avia-msie .newsletter-footer-widget {
    background: url(./images/bg_main2.gif) 0 0 repeat;
}


.footer-newsletter {
	max-width: 590px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    position: relative;
}

.footer-newsletter span.EMAIL-label {
	display: none;
}

.footer-newsletter #form-field-description-EMAIL{
    text-transform: uppercase;
    font-size: 21px !important;
    color: #00a8ff !important;
    font-weight: bold !important;
    font-style: normal;
    margin: 0;
}

.sidebar-newsletter-container #form-field-description-EMAIL{
    font-size: 18px !important;
}

.footer-newsletter input[type="email"] {
	border: 0 !important;
    height: 45px;
    padding-left: 20px !important;
    color: #878787 !important;
    max-width: 400px !important;
    margin: 0 auto !important;
    margin-top: 14px !important;
}

.footer-newsletter input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: 300;
    color: #878787;
}
.footer-newsletter input::-moz-placeholder { /* Firefox 19+ */
    font-weight: 300;
    color: #878787;
}
.footer-newsletter input:-ms-input-placeholder { /* IE 10+ */
    font-weight: 300;
    color: #878787;
}
.footer-newsletter input:-moz-placeholder { /* Firefox 18- */
    font-weight: 300;
    color: #878787;
}

input::-ms-clear { /* Firefox 18- */
    display: none !important;
    width: 0;
    height: 0;
}

.footer-newsletter input::-ms-clear { /* Firefox 18- */
    display: none;
    width: 0;
    height: 0;
}

.footer-newsletter .yikes-easy-mc-submit-button.sign-up-btn {
    position: absolute;
    top: 47px;
    right: 110px;
    width: 10px;
    height: 19px;
    padding: 0;
    outline: none;
    max-width: none;
    min-width: auto;
    min-height: auto;
    border: 0;
    background: transparent;
}


.footer-newsletter .yikes-easy-mc-submit-button.sign-up-btn:before {
    content: ' ';
    background: url('./images/arrow.png') no-repeat;
    width: 10px;
    height: 20px;
    display: block;
}

#footer {
    padding: 10px 0 6px 0;
}

#footer .textwidget {
    font-size: 12px;
    line-height: 20px;
}

.footer-socials {
	list-style-type: none;
	margin-top: 12px !important;
}

.footer-socials li {
	display: inline-block;
}

.footer-socials a img {
    width: 30px;
}

.common-title {
    font-size: 53px;
    line-height: 70px;
    color: #00a8ff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

    background: url(./images/bg_main2.gif) 0 0 repeat;
   
}

.avia-msie .common-title {
    background: url(./images/bg_main2.gif) 0 0 repeat;
}

.common-sub-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #cccccc;    
    border-bottom: 1px solid #cccccc;    
    padding: 10px;
    color: #010101;
    text-align: center;
    margin: 10px 0 15px;

    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.common-title p, .common-sub-title p {
    margin: 0;
}

.alm-btn-wrap .alm-load-more-btn.done {
    display: none;
}

.sidebar_right .content .entry-content-wrapper {
    padding-right: 0;
}


.template-blog .category-name, .common-title {
    font-size: 36px;
    line-height: 70px;
    color: #00a8ff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

    background: url(./images/bg_main2.gif) 0 0 repeat;
    letter-spacing: 5px;
}

.avia-msie .template-blog .category-name {
    background: url(./images/bg_main2.gif) 0 0 repeat;
}

.template-blog .image-overlay {
    display: none !important;
}

.template-blog .avia-slideshow ul li:before {
    content: " ";
    width: 100%;
    height: 110px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.56) 93%, rgba(0,0,0,0.56) 97%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.56) 93%,rgba(0,0,0,0.56) 97%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.56) 93%,rgba(0,0,0,0.56) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#8f000000',GradientType=0 );
}

.template-blog .avia-slideshow {
    margin: 15px 0;
}

.template-blog .avia-slideshow .avia-caption .avia-caption-title {
    background: transparent;
    text-transform: inherit !important;
    font-size: 28px;
    margin-bottom: 20px;
}

.template-blog .avia-slideshow-dots a {
    background: #fff;
    margin: 0 5px;
    opacity: 1 !important;
}

.template-blog .avia-slideshow-dots a.active,
.template-blog .avia-slideshow-dots a:hover {
    width: 13px;
    height: 13px;
    background: #00a8ff;
}

.template-blog .tabcontainer {
    margin-top: 10px;
}

.template-blog .tab_titles {
    text-align: center;
    border-top: 1px solid #cccccc;    
    border-bottom: 1px solid #cccccc;   
    margin-bottom: 5px;
    margin-left: 0;
}

.template-blog .tab_titles .tab {
    border: 0;
    display: inline-block;
    float: none;
    text-transform: uppercase;
    font-weight: bold;
    background: transparent !important;
}

.template-blog .tab_titles .tab a {
    color: #919191;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.template-blog .tab_titles .active_tab a {
    background: transparent !important;
    color: #00a8ff !important;
}

.template-blog .tab_content {
    background: transparent!important;
    border: 0;
    padding: 0;
}

.template-blog .alm-reveal>div {
    width: 48%;
	float: left;
	margin-bottom: 60px;
}

.template-blog .alm-reveal>div::after {
    margin-top: 25px;
    width: 57px;
    height: 5px;
    background: #00a8ff;
    display: block;
    content: '';
}

.template-blog .alm-reveal>div:nth-child(2n+1) {
    clear: both
}

.template-blog .alm-reveal>div:nth-child(2n) {
    width: 48%;
    float: right;
}

.template-blog .alm-reveal a {
    text-decoration: none !important;
    color: #878787;
}

.template-blog .alm-reveal .image-wrapper {
    height: 200px;
    overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

.template-blog .alm-reveal div img {
	position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    height: auto;
    max-height: inherit;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.template-blog .post-info {
    font-size: 13px;
    line-height: 18px;
}

.template-blog .post-info h3 {
    text-transform: inherit !important;
    font-size: 20px;
    color: #00a8ff !important;
}

.template-blog .post-info p {
    margin-top: 0;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
    max-height: 50px;
}

.template-blog .avia-slideshow-dots {
    bottom: 10px;
}

.template-blog .qa-posts .alm-reveal>div::after {
    display: none;
}

.qa-posts .alm-reveal>div{
    margin-bottom: 30px;
    width: 100%!important;
    float: none!important;
}
.qa-posts .alm-reveal a {
    text-decoration: none !important;
    color: #231f20;
}

.qa-posts .alm-reveal a::after {
    display: block;
    content: ' ';
    clear: both;
}

.qa-posts img {
    width: 100%;
    max-width: 100%;
}
.qa-posts .post-info h3{
    font-size: 20px;
    text-transform: none !important;
}

.qa-posts .post-info .excerpt {
    margin-top: 0;
    font-size: 13px;
    line-height: 18px;
}
.qa-posts .post-info .bottom-border {
    width: 57px;
    height: 5px;
    margin-top: 30px;
    background: #00a8ff;
}

.home-latest-news .qa-posts .post-thumb img {
    display: block;
    position: relative!important;
    left: 0!important;
    top: 0!important;
    transform: none!important;
}

.qa-form .wpcf7 {

    background: url(./images/bg_main2.gif) 0 0 repeat;
	padding: 20px 20%;
    margin-bottom: 50px;
}

.avia-msie .qa-form .wpcf7 {
    background: url(./images/bg_main2.gif) 0 0 repeat;
}

.qa-form .wpcf7 textarea {
	height: 190px;
	resize: none;
}
.qa-form .wpcf7 textarea, .qa-form .wpcf7 input[type="text"],
.qa-form .wpcf7 input[type="tel"], .qa-form .wpcf7 input[type="email"], .qa-form .wpcf7 select  {
	border: 0!important;
	font-family: "Open Sans"!important;
	font-size: 19px!important;
	font-weight: 300!important;
	color: #111111!important;
	padding: 14px!important;
	margin-bottom: 0!important;
}

.qa-form .wpcf7 textarea::placeholder, .qa-form .wpcf7 input[type="text"]::placeholder,
.qa-form .wpcf7 input[type="tel"]::placeholder, .qa-form .wpcf7 input[type="email"]::placeholder {
	font-family: "Open Sans"!important;
	font-size: 19px!important;
	font-weight: 300!important;
	color: #111111!important;
}

.qa-form .wpcf7 input[type="submit"] {
	font-family: "Open Sans"!important;
	font-size: 21px!important;
	font-weight: 600!important;
	background-color: #00a8ff!important;
	text-transform: uppercase;
	margin: 30px auto 0;
    display: inherit;
    padding: 10px 50px;
}

.video-posts .video-item {
    width: 48%;
	float: left;
	margin-bottom: 40px;
}

.video-posts .video-item:nth-child(2n+1) {
    clear: both
}

.video-posts .video-item:nth-child(2n) {
    width: 48%;
    float: right;
}

.video-posts .video-item a {
    text-decoration: none !important;
    color: #878787;
}

.video-posts .video-item h3{
    color: #00a8ff !important;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    text-transform: none !important;
}

.video-posts .video-item .tags {
    font-size: 15px;
}

.video-posts .video-item .tags span {
    margin-right: 5px;
}

.video-posts .video-item .border-bottom {
    margin-top: 15px;
    width: 57px;
    height: 5px;
    background: #00a8ff;
    display: block;
}

.latest-video a {
    text-decoration: none !important;
    color: #fff;
}

.latest-video .image-overlay {
    display: none !important;
}

.latest-video .image-wrapper {
    position: relative;
}

.latest-video .image-wrapper img {
    width: 100%;
}

.latest-video .post-content-data {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.56) 93%, rgba(0,0,0,0.56) 97%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.56) 93%,rgba(0,0,0,0.56) 97%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.56) 93%,rgba(0,0,0,0.56) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#8f000000',GradientType=0 );
    padding: 20px 20px;
    height: 110px;
}

.latest-video .post-content-data h3 {
    color: #fff;
    font-size: 30px;
    text-transform: inherit!important;
}

.latest-video .post-content-data .tag-template {
    color: #fff;
    font-size: 18px;
}
.latest-video .post-content-data .tag-template span {
    margin-right: 10px;
}

.single  .post-header {
    font-size: 36px;
    line-height: 70px;
    color: #00a8ff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background: url(./images/stripe.png);
    background-repeat: repeat;
    background-size: 10px;
}

.avia-msie .single  .post-header {
    background: url(./images/stripe.gif);
}

.single .post-sub-header {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #cccccc;    
    border-bottom: 1px solid #cccccc;    
    padding: 10px;
    color: #00a8ff;
    text-align: center;
    margin: 10px 0 10px;
}

.single .big-preview img {
    border-radius: 0;
}

.single .entry-content-wrapper .post-title {
    text-transform: inherit!important;
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold !important;
}

.single .related_posts {
    border: 0;
    padding: 0;
    margin-top: 20px;
}

.single .related_posts a {
    text-decoration: none;
}

.single .related_entries_container::after {
    display: block;
    content: ' ';
    clear: both;
}

.single .related_entries_container {
    position: relative;
    padding-top: 10px;
    padding-right: 7px;
}

.single .related_entries_container:before {
    content: ' ';
    width: 101%;
    height: 202px;
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    background: url(./images/stripe.png);
    background-repeat: repeat;
    background-size: 10px;
}

.avia-msie .single .related_entries_container:before {
    background: url(./images/stripe.gif);
}


.single .related_entries_container > div {
    padding-right: 5px;
}

.single .related_posts .av-title {
    font-family: 'Roboto';
    color: #474748 !important;
    text-transform: initial;
    font-size: 15px;
    font-weight: 600 !important;
    text-align: left;
    margin-top: 20px;
    display: block;
    letter-spacing: 1px;
    line-height: 18px;
}

.single .related_posts .related_image_wrap {
    height: 182px;
    overflow: hidden;
    position: relative;
    background: transparent;
    margin-bottom: 15px;
}

.single .related_posts img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: 185px;
    max-height: inherit;
    transform: translate(-50%, -50%);
    z-index: 0;
    max-width: inherit;
}


.stick-header .av-logo-container{
    height: 0 !important;
    transition: height 0.15s ease-out;
}

.stick-header .small-logo-menu-item{
    display: block;
}

body .container_wrap .home-page-banner {
    margin-top: 10px;
}

/* large screens with 1140px with */

@media only screen and (min-width: 1140px) {}

/* Smaller than standard 960 (devices and browsers) */

@media only screen and (max-width: 1024px) {
	#header #header_main_alternate .container {
        max-width: 820px;
    }

    .sidebar-newsletter-container .footer-newsletter #form-field-description-EMAIL {
        font-size: 15px !important;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 989px) {

    .sidebar-newsletter-container {
        padding: 20px 0;
    }
    .sidebar-newsletter-container .footer-newsletter {
        padding: 0 5px;
    }
    .sidebar-newsletter-container .footer-newsletter #form-field-description-EMAIL {
        font-size: 11px !important;
    }

    .sidebar-newsletter-container:before {
        height: 135px;
    }

    #top #menu-item-search {
        position: absolute;
        right: 55px;
        top: 36px;
        height: 22px;
    }

    .promotion-banner-container.stick {
        top: 15px;
    }

    #menu-item-search {
        display: none;
    }

    #header_main .logo {
        padding-top: 25px;
        width: 58%;
    }
    .must-read-news:before {
        height: 120px;
    }
    .home-latest-news .post-thumb {
        max-width: 100%;
        float: none;
        margin-right: 0;
    }
    .home-latest-news .post-content {
        margin-left: 0;
        margin-top: 15px;
    }
    .home-latest-news .post-desc:after {
        margin-left: 0;
    }
    .avia-content-slider .slide-entry-title {
        line-height: 15px;
    }
    .ajax-load-more-wrap.blue .alm-load-more-btn {
        margin: 0 auto;
    }
    .latest-video .post-content-data h3 {
        font-size: 22px;
        margin-bottom: 0;
    }
    .newsletter-footer-widget {
        height: 225px;
        padding-top: 10px;
    }
    .single .related_posts .related_image_wrap {
        height: 135px;
        margin-bottom: 20px;
    }
    .single .related_posts .av-title {
        line-height: 18px;
    }
    .single .related_entries_container:before {
        height: 156px;
    }
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
    .home  #main .main_color > .container {
        width: 100% !important;
        margin: 0  !important;
        max-width: 100% !important;
    }

    .home #footer .container {
        width: 90% !important;
        max-width: 90% !important;
    }

    .home-latest-news .post-thumb {
        width: 100%;
        float: none;
        max-width: 100%;
    }

    .mobile-promotion-banner img {
        border-radius: 0;
    }

    .must-read-news {
        padding: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    .must-read-news div .av_one_third {
        margin-bottom: 0 !important;
    }

    .must-read-news:before {
        height: 100%;
    }

    .must-read-news article:nth-child(3) {
        display: none;
    }

    .must-read-news .slide-entry {
        float: left !important;
        width: 50% !important;
        clear: none !important;
        padding-top: 6px;
        padding-left: 6px;
        padding-bottom: 6px;
        padding-right: 6px;
    }

    .must-read-news .slide-entry-title {
        line-height: 12px;
        font-size: 12.5px;
    }

    .must-read-news .slide-entry-title.entry-title a {
        line-height: 15px;
    }

    .home-latest-news {
        margin-left: 15px;
        margin-right: 15px;
    }

    .responsive #top .avia-slideshow-controls a {
        display: inline-block !important;
    }

    .home-latest-news .post-content {
        margin-left: 0;
    }

    .home-latest-news .post-desc:after {
        margin-left: 0;
    }

    .home-latest-news .post-title {
        font-size: 20px;
        margin-top: 10px;
    }

    .with-love-menu-icon::after {
        right: 30px;
    }

    .latest-video .post-content-data {
        height: auto;
        padding: 10px;
    }

    .latest-video .post-content-data h3 {
        font-size: 18px;
        margin-bottom: 0;
    }
    
    .ajax-load-more-wrap.blue .alm-load-more-btn {
        margin: 0 auto;
    }

    .template-blog .avia-slideshow-dots {
        bottom: 0;
    }

    .footer-newsletter input[type="submit"] {
        top: 83px;
        right: 20px;
    }

    .footer-socials {
        text-align: center;
        height: 50px;
        float: initial !important;
    }

    .template-blog .category-name, .common-title {
        font-size: 30px;
        line-height: 50px;
    }

    .template-blog .avia-slideshow .avia-caption .avia-caption-title {
        font-size: 20px;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;

    }

    .template-blog .avia-slideshow .avia-caption {
        padding: 0;
    }

    .template-blog .tabcontainer .tab_titles {
        display: block;
    }

    .template-blog .tabcontainer {
        border: 0!important;
    }

    .template-blog .tab_titles .tab {
        font-size: 15px;
        width: 50%;
        padding: 10px 0;
        float: left;
    }

    .template-blog .tab.fullsize-tab {
        display: none!important;
    }

    .template-blog .tabcontainer .tab_content {
        padding: 0;
    }

    .template-blog .alm-reveal>div, 
    .template-blog .alm-reveal>div:nth-child(2n) {
        width: 100%;
        float: none;
    }

    .newsletter-footer-widget {
        height: auto;
    }

    #footer .widget {
        margin: 0;
    }

    #footer .flex_column {
        margin-bottom: 0 !important;
    }

    .footer-newsletter {
        width: 100%;
        padding: 0 15px;
        margin-top: 0;
    }

    .qa-form .wpcf7 {
        padding: 10px 20px;
    }    
    .qa-form .wpcf7 textarea, .qa-form .wpcf7 input[type="text"],
    .qa-form .wpcf7 input[type="tel"], .qa-form .wpcf7 input[type="email"] { 
        font-size: 15px!important;
    }

    .qa-form .wpcf7 textarea::placeholder, .qa-form .wpcf7 input[type="text"]::placeholder,
    .qa-form .wpcf7 input[type="tel"]::placeholder, .qa-form .wpcf7 input[type="email"]::placeholder {
        font-size: 15px!important;
    }

    .qa-form .wpcf7 input[type="submit"] {
        font-size: 15px!important;
        padding: 10px 50px;
    }

    .footer-newsletter .yikes-easy-mc-submit-button.sign-up-btn {
        top: 47px;
        right: 30px;
    }
    
    .single .related_entries_container:before {
        background: none;
    }
    .single .related_entries_container > div {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .single .related_posts .related_image_wrap {
        height: auto;
        margin-bottom: 5px;
    }
    .single .related_posts img {
        position: relative;
        width: 100%;
        top: initial;
        left: initial;
        margin-top: initial;
        margin-left: initial;
    }

    .home-page-banner {
        margin-top: 0;
    }

    .mobile-second-menu {
        border-bottom: 1px solid #b0b0b0;
        border-top: 1px solid #b0b0b0;
    }

    .mobile-second-menu #menu-main-menu{
        list-style: none;
        margin: 0;
    }

    .mobile-second-menu #menu-main-menu li ul {
        display: none;
    }

    .mobile-second-menu #menu-main-menu li {
        display: inline;
        margin-left: 0;
        text-align: center;
    }

    .mobile-second-menu .small-logo-menu-item {
        display: none !important;
    }

    .mobile-second-menu #menu-main-menu li > a {
        font-size: 11px;
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 0px;
        color: #000;
        font-weight: bold;
        width: 18%;

        display: inline-block;
    }

    .mobile-second-menu #menu-main-menu li:nth-child(2) > a {
        width: 20%;
    }

    .mobile-second-menu #menu-main-menu li.with-love-menu-icon {
        text-align: left;
    }

    .mobile-second-menu .with-love-menu-icon::after {
        right: -8px;
        top: 2px;
       
    }

    .short-logo {
        height: 62px;
        margin-bottom: 0;
        text-align: center;
    }
    

    .short-logo  img {
        margin-top: 20px;
    }

    .must-read-news {
        margin-bottom: 15px;
    }

    .mobile-promotion-banner .avia-image-container-inner,
    .mobile-promotion-banner .avia-image-container-inner img {
        width: 100%;
    }

    .home .section-header {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }

    .responsive #top .logo {
        width: 100%;
        margin-top: 22px;
    }

    .responsive #top #wrap_all .main_menu {
        display: none;
    }

    .stick-header .mobile-menu-container {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999;
        background: #fff;
        transition: display 0.15s ease-out;
    }

    .mobile-menu-container .short-logo {
        display: none;
    }

    .stick-header .mobile-menu-container .short-logo {
        display: block;
    }

    .responsive .stick-header#top #wrap_all .main_menu {
        display: block;
        z-index: 1000000;
        top: -8px;
        position: fixed;
        width: 100%;
        height: 70px;
    }

    .responsive .stick-header#top #wrap_all .main_menu .avia-menu {
        width: 100%;
    }

    .responsive .stick-header#top #wrap_all .main_menu .avia-menu #menu-item-search {
        position: absolute;
        right: 15px;
        top: 30px;
        height: 22px;
    }

    .responsive .stick-header#top #wrap_all .main_menu .avia-menu #menu-item-search > a {
        height: 30px;
        line-height: 30px;
    }

    .html_av-overlay-side .av-burger-overlay-scroll {
        width: 100% !important;
    }

    .av-hamburger-box {
        width: 22px;
    }

    .av-hamburger-inner::before {
        top: -5px;
    }

    .av-hamburger-inner::after {
        bottom: -5px;
    }

    .av-hamburger-inner, .av-hamburger-inner::before, .av-hamburger-inner::after {
        height: 2px;
    }

    .mobile-logo-image {
        padding: 0 22px;
        height: 100px;
    }

    .mobile-logo-image .logo {
        position: relative !important;
        
    }

    #header_main {
        border-bottom-width: 0;
        border-top-width: 0;
    }

    #header_main .logo {
        display: none !important;
    }

    .short-logo-img {
        width: 185px;
    }

    
    .html_av-overlay-side #top .av-burger-overlay-scroll {
        background: #00a8ff !important;
        opacity: 0.9;
    }

    .html_av-overlay-side #top #wrap_all .av-burger-overlay-scroll #av-burger-menu-ul a {
        color: #fff !important;
    }

    .html_av-overlay-side-classic #top .av-burger-overlay li li .avia-bullet, .html_av-overlay-side.av-burger-overlay-active #top .av-hamburger-inner, .html_av-overlay-side.av-burger-overlay-active #top .av-hamburger-inner::before, .html_av-overlay-side.av-burger-overlay-active #top .av-hamburger-inner::after {
        background-color: #fff !important;
    }

    .av-burger-overlay-active #menu-item-search {
        display: none !important;
    }

    .html_av-overlay-side #top #wrap_all div .av-burger-overlay-scroll #av-burger-menu-ul a:hover {
        background-color: #2086c2 !important;
    }

    .av-width-submenu.av-active-burger-items.av-show-submenu > ul >li > a[href="/"] {
        display: none !important;
    }

    .av-width-submenu.av-active-burger-items.av-show-submenu > ul > li > ul.sub-menu {
        display: block !important;
    }

    .mobile-newsletter-container {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 10;
        background: url(./images/bg_main2.gif) 0 0 repeat;
    }

    .mobile-newsletter-container .yikes-easy-mc-form {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .mobile-newsletter-container .btn-register {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px !important;
        color: #00a8ff !important;
        font-weight: bold !important;
        font-style: normal;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: pointer;
    }
    .mobile-newsletter-container .yikes-mailchimp-container {
        display: none;
    }
    .mobile-newsletter-container .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15px;
    }

    .mobile-newsletter-container .yikes-easy-mc-success-message {
        margin-top: 45px;
        color: #ffffff;
        background: #04a8ff;
        text-align: center;
    }

    .responsive #top .av-main-nav .menu-item-avia-special {
        position: absolute;
        top: 0px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 320px) {
    .footer-newsletter .yikes-easy-mc-submit-button.sign-up-btn {
        top: 48px;
        right: 30px;
    }

    .mobile-second-menu .with-love-menu-icon::after {
        right: -8px;
    }
}
